@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-back text-fore font-['Inter'];
}

.head-text {
  @apply text-fore text-2xl font-semibold mb-8;
}

.main-container {
  @apply px-4 py-6 sm:max-w-lg max-w-xl md:max-w-2xl mx-auto;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}